body{
  margin: 0;
  padding: 0;
  background: #FF6B81;
}

.menu{
  position: absolute;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.5s;
}

.menu .bar{
  background: #fff;
  width: 60px;
  height: 10px;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  transition: 0.4s;
}

.menu .bar:not(:first-child){
  margin-top: 10px;
}

.menu:hover .bar{
  box-shadow: 0 0 25px 0 rgba(255, 255, 255, 0.5);
}

#check:checked + .menu{
  transform: translate(-50%, -50%) rotateY(180deg);
}

#check:checked + .menu .bar:nth-child(1){
  margin-top: 20px;
  transform: rotate(-45deg);
}

#check:checked + .menu .bar:nth-child(2){
  opacity: 0;
}

#check:checked + .menu .bar:nth-child(3){
  margin-top: -30px;
  transform: rotate(45deg);
}

#check{
  display: none;
}