* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1 {
    color: white;
}
    .parent {
        height: 100vh;
        border: 20px solid black;
        display: flex;
        justify-content: space-between;
    }
    .child1 {
        width: 200px;
        height: 200px;
        background: rgb(39, 61, 134);
    }
    .child2 {
        width: 200px;
        height: 200px;
        background: rgb(172, 57, 53);
        align-self: center;
    }
    .child3 {
        width: 200px;
        height: 200px;
        background: rgb(149, 43, 140);
        align-self: flex-end;
    }
    .child4 {
        width: 200px;
        height: 200px;
        background: rgb(149, 200, 140);
        align-self: center;
    }