h1 {
    color: #ed625b;
    background-color: chartreuse;
    text-decoration: underline;
}
a {
    text-decoration: none;
}
/* cambiar el estilo utilizando el atributo id */
#h1-1 {
    color: chocolate;
    background-color: black;
    text-decoration: none;
}
/* cambiar el estilo utilizando el atributo class */
.h-red {
    color: red;
    background-color: white;
    text-align: center;
}
.margin10 {
    margin-left: 50px;
}
/* cambiar el estilo utilizando el parent-child (Arbol) */
ul li {
    font-size: 25px;
}
ol li a {
    font-size: 30px;
}
/* cambiar el estilo utilizando los evento */
a:hover {
    color: green;
}
/* cambiar el estilo utilizando el anterior y el siguiente */
ol + a:hover {
    background-color: black;
}

ul li:first-child {
    text-decoration: underline;
    color: #55FF55;
}